Assignment/.vs/Assignment/FileContentIndex/14eac1a0-2f43-40a4-80c6-1fd37a882968.vsidx
Assignment/.vs/Assignment/FileContentIndex/7327d3e4-6184-4fc3-a510-c366a991b26d.vsidx
Assignment/.vs/Assignment/v17/.suo
Assignment/.vs/Assignment/v17/Browse.VC.db
Assignment/.vs/Assignment/v17/Browse.VC.db-shm
Assignment/.vs/Assignment/v17/Browse.VC.db-wal
Assignment/.vs/Assignment/v17/Browse.VC.opendb
Assignment/.vs/Assignment/v17/DocumentLayout.json
Assignment/.vs/Assignment/v17/Solution.VC.db
Assignment/.vs/Assignment/v17/ipch/AutoPCH/771f0328a8a4b3b/SIMPLEVECTOR.ipch
Assignment/Assignment/Assignment.vcxproj
Assignment/Assignment/Assignment.vcxproj.filters
Assignment/Assignment/Assignment.vcxproj.user
